# исключаем ВСЮ папку bitrix, но ниже настроим включение нужных папок
# или используйте папку /local, чтобы полностью исключить папку bitrix
/bitrix/*
# включаем папку components, но исключаем components/bitrix
!/bitrix/components
/bitrix/components/bitrix/
# включаем папку php_interface и исключаем файл dbconn.php
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/*.bak
# включаем папку шаблонов
!/bitrix/templates/
# включаем папку activities, но исключаем activities/bitrix
!/bitrix/activities
/bitrix/activities/bitrix/
# исключаем служебные и ненужные папки проекта
/upload
/cgi-bin

# включаем папку modules
!/bitrix/modules
# исключаем стандартные модули Битрикс
/bitrix/modules/1С
/bitrix/modules/abtest
/bitrix/modules/advertising
/bitrix/modules/b24connector
/bitrix/modules/bitrix.eshop
/bitrix/modules/bitrix.sitecommunity
/bitrix/modules/bitrix.sitecorporate
/bitrix/modules/bitrix.siteinfoportal
/bitrix/modules/bitrix.sitepersonal
/bitrix/modules/bitrixcloud
/bitrix/modules/bizproc
/bitrix/modules/bizprocdesigner
/bitrix/modules/blog
/bitrix/modules/calendar
/bitrix/modules/catalog
/bitrix/modules/clouds
/bitrix/modules/cluster
/bitrix/modules/compression
/bitrix/modules/controller
/bitrix/modules/conversion
/bitrix/modules/crm
/bitrix/modules/currency
/bitrix/modules/dav
/bitrix/modules/DAV
/bitrix/modules/desktop
/bitrix/modules/disk
/bitrix/modules/documentgenerator
/bitrix/modules/extranet
/bitrix/modules/faceid
/bitrix/modules/fileman
/bitrix/modules/form
/bitrix/modules/forum
/bitrix/modules/highloadblock
/bitrix/modules/iblock
/bitrix/modules/idea
/bitrix/modules/im
/bitrix/modules/imbot
/bitrix/modules/imconnector
/bitrix/modules/imopenlines
/bitrix/modules/intranet
/bitrix/modules/landing
/bitrix/modules/ldap
/bitrix/modules/learning
/bitrix/modules/lists
/bitrix/modules/mail
/bitrix/modules/main
/bitrix/modules/meeting
/bitrix/modules/messageservice
/bitrix/modules/ml
/bitrix/modules/mobile
/bitrix/modules/mobileapp
/bitrix/modules/perfmon
/bitrix/modules/photogallery
/bitrix/modules/pull
/bitrix/modules/recyclebin
/bitrix/modules/report
/bitrix/modules/rest
/bitrix/modules/sale
/bitrix/modules/salescenter
/bitrix/modules/scale
/bitrix/modules/search
/bitrix/modules/security
/bitrix/modules/sender
/bitrix/modules/seo
/bitrix/modules/socialnetwork
/bitrix/modules/socialservices
/bitrix/modules/statistic
/bitrix/modules/storeassist
/bitrix/modules/subscribe
/bitrix/modules/support
/bitrix/modules/tasks
/bitrix/modules/timeman
/bitrix/modules/transformer
/bitrix/modules/translate
/bitrix/modules/ui
/bitrix/modules/video
/bitrix/modules/vote
/bitrix/modules/voximplant
/bitrix/modules/webdav
/bitrix/modules/webservice
/bitrix/modules/wiki
/bitrix/modules/workflow
/bitrix/modules/xdimport
/bitrix/modules/xmpp

#/.gitignore
.idea
.well-known
/.htaccess
/*.htaccess
/.htaccess*
/.htpasswd
/web.config
/*web.config
/*.log
/*.sql
/*.txt
# robots.txt я исключил, т.к. если мы работаем не на локальных тестовых его нужно править.
/robots.txt
/sitemap*.xml
#/*.xml
/*.dt
/*.tar.gz
/*.gz
/*.tar
/*.bak
/*.old
*.env.php
# Дополнительно:
#/*~
#*/_*
#/_*
#/composer.*
#Thumbs.db
#.DS_Store
#._.DS_Store
